/*

	Theme Name: eCommerce;
	Theme Author: Angga Risky Setiawan;
	Author URI: www.facebook.com/arscarry;
	Version: 1.0;
	License: MIT;

*/

/* SETTING FONTS */
@font-face{
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.ttf');
}

@font-face{
	font-family: 'Lato-Light';
	src: url('../fonts/Lato-Light.ttf');
}

@font-face{
	font-family: 'Lato-Medium';
	src: url('../fonts/Lato-Medium.ttf');
}

/* DEFAULT CLASS */

body {
	padding: 0;
	margin: 0;
}

.container {
	width: 980px;
	overflow: hidden;
	margin: auto;
}


/*KERANJANG PRODUCT */

.keranjang-product {
	width: 100%;
	overflow: hidden;
	margin-top: 50px;
}
	
	.keranjang-product .shopping {
		float: right;
		margin-right: 10px;
		padding: 10px;
		background: #95a5a6;
		color: white;
		font-family: 'Lato-Medium';
		border-radius: 5px;
		text-decoration: none;
	}

	.keranjang-product .checkout {
		float: right;
		padding: 10px;
		background: #1abc9c;
		color: white;
		font-family: 'Lato-Bold';
		border-radius: 5px;
		text-decoration: none;
	}

	.keranjang-product table {
		width: 100%;
		overflow: hidden;
		text-align: center;
		margin-bottom: 20px;
	}

		.keranjang-product table thead {
			font-family: 'Lato-Bold';
			font-size: 18px;
			color: #333333;
		}

			.keranjang-product table thead td {
				height: 50px;
			}

		.keranjang-product table tbody {
			font-family: 'Lato-Medium';
			font-size: 16px;
			color: #333333;
		}

			.keranjang-product table tbody .hapus {
				padding: 10px;
				background: #333333;
				color: white;
				font-family: 'Lato-Bold';
				text-decoration: none;
				border-radius: 5px;
				transition: all 1s;
			}

			.keranjang-product table tbody .hapus:hover {
				background: #e74c3c;
			}

			.keranjang-product table tbody td {
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.keranjang-product table tbody tr:nth-child(odd){
				background: #eee;
			}

			.keranjang-product table tbody img {
				height: 60px;
				/*width: 60px;*/
			}


	.keranjang-product .header-title {
		width: 100%;
		overflow: hidden;
		font-family: 'Lato-Medium';
		padding: 10px;
		background: #202020;
		color: white;
		border: 1px silver;
		border-left: 5px solid #e74c3c;
	}

/*PRODUCT DETAIL */

.product-detail {
	width: 100%;
	overflow: hidden;
	margin-top: 50px;
}
	
	.product-detail .right {
		float: right;
		width: 550px;
		overflow: hidden;
	}

		.product-detail .right .content-review {
			width: 550px;
			overflow: hidden;
			margin-bottom: 15px;
			padding-bottom: 10px;
			border-bottom: 1px solid silver;
			font-family: 'Lato-Medium';
		}

			.product-detail .right .content-review button {
				width: 150px;
				height: 50px;
				padding: 10px;
				background: #333333;
				color: white;
				border: 0;
				border-radius: 5px;
				margin-top: 10px;
				font-family: 'Lato-Bold';
			}	

			.product-detail .right .content-review select {
				width: 510px;
				height: 40px;
				border-radius: 5px;
				margin-top: 10px;
				border: 1px solid #333333;
			}

			.product-detail .right .content-review input {
				width: 500px;
				height: 40px;
				border-radius: 5px;
				border: 1px solid #333333;
				padding-left: 10px;
				margin-bottom: 10px;
			}

			.product-detail .right .content-review textarea {
				width: 500px;
				height: 150px;
				border-radius: 5px;
				border: 1px solid #333333;
				padding-top: 10px;
				padding-left: 10px;
			}

			.product-detail .right .content-review .rate {
				margin: 0;
				margin-bottom: 5px;
			}

			.product-detail .right .content-review .buyer {
				font-family: 'Lato-Bold';
				color: #333333;
				margin: 0;
				margin-bottom: 10px;
			}

			.product-detail .right .content-review .commentar {
				margin: 0;
			}

		.product-detail .right h2 {
			font-family: 'Lato-Bold';
			color: #333333;
			margin: 0;
		}

		.product-detail .right .price {
			margin: 0;
			font-family: 'Lato-Medium';
			color: #e74c3c;
		}

		.product-detail .right h3 {
			font-family: 'Lato-Medium';
			color: #333333;
		}

		.product-detail .right p {
			font-family: 'Lato-Light';
			color: #333333;
			line-height: 1.3;
		}

	.product-detail .left {
		float: left;
		width: 400px;
		overflow: hidden;
	}

		.product-detail .left .share {
			width: 380px;
			padding: 10px;
			text-align: center;
			background: #9b59b6;
			border-radius: 3px;
			transition: all 1s;
			margin-top: 10px;
		}

		.product-detail .left .share:hover {
			background: #3498db;
		}

		.product-detail .left .report {
			width: 380px;
			padding: 10px;
			text-align: center;
			background: #333333;
			border-radius: 3px;
			transition: all 1s;
			margin-top: 10px;
		}

		.product-detail .left .report:hover {
			background: #3498db;
		}

		.product-detail .left .wishlist {
			width: 380px;
			padding: 10px;
			text-align: center;
			background: #1abc9c;
			border-radius: 3px;
			transition: all 1s;
			margin-top: 10px;
		}

		.product-detail .left .wishlist:hover {
			background: #333333;
		}

		.product-detail .left .cart {
			width: 380px;
			padding: 10px;
			text-align: center;
			background: #e74c3c;
			border-radius: 3px;
			transition: all 1s;
		}

		.product-detail .left .cart:hover {
			background: #333333;
		}

		.product-detail .left a {
			font-family: 'Lato-Medium';
			color: white;
			text-decoration: none;
		}

		.product-detail .left h3 {
			font-family: 'Lato-Medium';
			color: #333333;
		}

		.product-detail .left img {
			width: 400px;
			height: 300px;
		}

/*SMALL FOOTER */

.small-footer {
	width: 100%;
	overflow: hidden;
	background: #181818;
}

	.small-footer .copyright {
		float: left;
		font-family: 'Lato-Medium';
		color: white;
	}

	.small-footer .link {
		float: right;
		font-family: 'Lato-Bold';
	}

		.small-footer .link a {
			color: white;
			text-decoration: none;
		}

/*MEGA FOOTER*/

.mega-footer {
	width: 100%;
	overflow: hidden;
	background: #2A2A2A;
}

	.mega-footer .content {
		width: 315px;
		overflow: hidden;
		float: left;
		margin-left: 10px;
		color: white;
	}

		.mega-footer .content h2 {
			font-family: 'Lato-Bold';
		}

		.mega-footer .content p {
			font-family: 'Lato-Light';
		}

		.mega-footer .content a {
			font-family: 'Lato-Medium';
			color: white;
			text-decoration: none;
			transition: all 1s;
		}

		.mega-footer .content a:hover {
			color: #e74c3c;
		}

/*TESTIMONIAL */

.testimonial {
	width: 100%;
	overflow: hidden;
	background: #333333;
	padding-bottom: 30px;
	padding-top: 30px;
}

	.testimonial .header-title {
		color: white;
		font-family: 'Lato-Bold';
		text-align: center;
	}

	.testimonial .content {
		width: 800px;
		overflow: hidden;
		margin: auto;
		margin-bottom: 30px;
	}

		.testimonial .content .avatar {
			width: 100px;
			height: 100px;
			border-radius: 100%;
			float: left;
			background: blue;
			margin-right: 10px;
		}

		.testimonial .content .nama {
			margin: 0;
			padding-top: 15px;
			margin-bottom: 10px;
			font-family: 'Lato-Medium';
			color: white;
		}

		.testimonial .content .text {
			margin: 0;
			font-family: 'Lato-Light';
			color: #eee;
			font-style: italic;
		}

/*CONTENT PRODUCT */

.content-product {
	width: 100%;
	overflow: hidden;
	/*min-height: 500px;*/
	padding-bottom: 50px;
}
	
	.content-product .user {
		width: 550px;
		overflow: hidden;
		margin: auto;
	}

	.content-product .user .forget {
		float: left;
		/*font-style: italic;*/
		font-family: 'Lato-Medium';
		padding: 10px;
	}

	.content-product .user input {
		width: 500px;
		height: 40px;
		border: 1px solid #dadada;
		border-radius: 3px;
		padding-left: 10px;
		margin-bottom: 10px;
		float: left;
	}

	.content-product .user button {
		float: left;
		width: 200px;
		/*height: 30px;*/
		padding: 10px;
		background: #333333;
		border-radius: 3px;
		border: 0;
		color: white;
		font-family: 'Lato-Bold';
	}

	.content-product .indicator {
		width: 250px;
		overflow: hidden;
		margin: auto;
		margin-top: 50px;
	}

		.content-product .indicator ul {
			margin: 0;
			padding: 0;
		}

		.content-product .indicator li {
			padding: 10px;
			float: left;
			display: block;
			margin-left: 10px;
			border-radius: 3px;
			background: #3498db;
			transition: all 1s;
		}

		.content-product .indicator li:hover {
			background: #202020;
		}

		.content-product .indicator a {
			color: white;
			font-family: 'Lato-Medium';
			text-decoration: none;
		}

	.content-product .header-title {
		width: 100%;
		overflow: hidden;
		font-family: 'Lato-Medium';
		padding: 10px;
		background: #202020;
		color: white;
		border: 1px silver;
		border-left: 5px solid #e74c3c;
	}

	.content-product .product {
		width: 230px;
		overflow: hidden;
		border-radius: 3px;
		float: left;
		margin-left: 15px;
		margin-top: 20px;
		margin-bottom: 20px;
	}


		.content-product .product .text {
			width: 230px;
			overflow: hidden;
			background: white;
		}

		.content-product .product:hover img {
			transform: scale(2);
		}

		.content-product .product img {
			width: 230px;
			height: 150px;
			z-index: -10;
			transition: all 1s;
		}

		.content-product .product h3 {
			font-family: 'Lato-Medium';
			margin: 0;
			margin-top: 20px;
			float: left;
		}

		.content-product .product p {
			margin: 0;
			font-family: 'Lato-Light';
			margin-top: 10px;
			float: left;
		}

		.content-product .product a {
			color: #3498db;
			text-decoration: none;
			transition: all 1s;
		}

		.content-product .product a:hover {
			color: #333333;
		}

		.content-product .cart {
			padding: 7px;
			background: #e74c3c;
			border-radius: 3px;
			float: right;
			color: white !important;
			margin-top: -12px;
			margin-right: 10px;
			transition: all 1s;
		}

		.content-product .cart:hover {
			background: #333333;
			color: white;
		}

/* BANNER SLIDER */

.banner-slider {
	width: 100%;
	overflow: hidden;
}

#owl-banner-slider .item img{
    display: block;
    width: 980px;
    height: auto;
}

	#owl-banner-slider .owl-prev {
		position: absolute;
		z-index: 10;
		top: 150px;
		left: 30px;
		background-color: #1abc9c;
		border-radius: 100%;
		padding: 20px;
	}

	#owl-banner-slider .owl-next {
		position: absolute;
		z-index: 10;
		top: 150px;
		right: 30px;
		background-color: #1abc9c;
		border-radius: 100%;
		padding: 20px;
	}

	#owl-banner-slider .owl-pagination {
		display: none; /* jika ingin digunakan indikator hapuslah class ini */
	}

/* HEADER SMALL */

.header-small {
	width: 100%;
	overflow: hidden;
	background: #e74c3c;
	padding-top: 10px;
	padding-bottom: 10px;
}
	.header-small .right {
		float: right;
	}

	.header-small .right .register {
		background: #333333 !important;
		border-radius: 5px;
	}

	.header-small .right ul {
		margin: 0;
		/*margin-top: 10px;*/
		padding: 0;
		float: left;
	}

	.header-small .right ul li {
		float: left;
		display: block;
		padding: 10px;
	}

	.header-small .right ul li a {
		color: white;
		font-family: 'Lato-Bold';
		text-decoration: none;
	}

	.header-small .left {
		float: left;
	}

	.header-small .submit {
		font-family: 'Lato-Bold';
		width: 120px;
		height: 40px;
		background: #3498db;
		color: white;
		border: 0;
		border-radius: 5px;
	}

	.header-small .field {
		font-family: 'Lato-Light';
		padding: 10px;
		height: 20px;
		width: 150px;
		border-radius: 5px;
		border: 0;
	}

	.header-small .select {
		font-family: 'Lato-Medium';
		padding: 10px;
		height: 40px;
		width: 200px;
		border-radius: 5px;
		border: 0;
	}

/* HEADER */

.header {
	width: 100%;
	overflow: hidden;
	background: #1abc9c;
}

	.header .container .logo {
		float: left;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.header .container .logo img {
		height: 120px;
	}

	.header .container .right {
		float: right;
		margin-top: 60px;
		margin-bottom: 15px;
	}

	.header .container .right .cart {
		margin-left: 10px;
	}

	.header .container .right li {
		float: left;
		display: block;
		padding: 10px;
		background: #333333;
		transition: all 1s;
	}

	.header .container .right li:hover {
		background: #e74c3c;
	}

	.header .container .right a {
		font-family: 'Lato-Bold';
		color: white;
		text-decoration: none;
	}

	/* DROPDOWN SETTING */

	.header .container .right ul {
		display: none;
		z-index: 10;
		position: absolute;
		margin-top: 10px;
		margin-left: -50px;
	}

	.header .container .right li:hover ul {
		display: block;
	}

	.header .container .right ul li {
		float: none;
		width: 110px;
	}

	

/* NAVBAR SMALL */

.navbar-small {
	width: 100%;
	overflow: hidden;
	background: #333333;
	font-family: 'Lato-Medium';
}
	
	.navbar-small .container .right {
		margin: 0;
		padding: 0;
		float: right;
	}

		.navbar-small .container .right li {
			float: left;
			display: block;
			padding: 10px;
		}

		.navbar-small .container .right a {
			color: white;
			text-decoration: none;
			transition: all 1s;
		}

		.navbar-small .container .right a:hover {
			color: #e74c3c;
			text-decoration: underline;
		}

	.navbar-small .container .left {
		margin: 0;
		padding: 0;
		float: left;
	}

		.navbar-small .container .left li {
			float: left;
			display: block;
			padding: 10px;
		}

		.navbar-small .container .left a {
			color: white;
			text-decoration: none;
			transition: all 1s;
		}

		.navbar-small .container .left a:hover {
			color: #e74c3c;
		}



